.video-background {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (change as per your video's aspect ratio) */
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Add a higher z-index to ensure the overlay is displayed on top of the video */
}

.overlay-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: #fff;
  text-align: center;
  z-index: 2; /* Add a higher z-index to ensure the overlay content is displayed on top of the video */
}
